<h1><%= Fight.model_name.human.pluralize %></h1>

<div class="actions">
  <%= link_to t(:new_fight), new_fight_path,  class: "btn btn-primary" %>
</div>

<%= render partial: "shared/table", locals: { collection: @fights } %>

<%= link_to t(:go_back), root_path %>