<h1><%= Gladiator.model_name.human.pluralize %></h1>

<div class="actions">
  <%= link_to t(:new_resource, resource: Gladiator.model_name.human), new_gladiator_path,  class: "btn btn-primary" %>
</div>

<%= render partial: "shared/table", locals: { collection: @gladiators } %>

<%= link_to t(:go_back), root_path %>